<h2 mat-dialog-title>Produto</h2>
<mat-dialog-content>
    <mat-form-field class="full-width">
        <mat-label>Descrição de produto</mat-label>
        <input matInput placeholder="Ex.Calça" [(ngModel)]="name">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Tipo</mat-label>
        <input matInput placeholder="Tipo" [(ngModel)]="tipo">
    </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-dialog-close="Cancelar">Cancelar</button>
    <button mat-button (click)="confirmClick()">Confirmar</button>
</mat-dialog-actions>