<h1>Malwee</h1>
<mat-card>
    <tr></tr>
    <button class="favorite styled" (click)="addButtonClick()" mat-raised-button color="primary">Novo Produto</button>

    <mat-list>     
        <div *ngFor="let grupo of grupos"> 
            {{grupo.id}} - {{grupo.name}} - {{grupo.cor}}
            <button class="favorite styled" (click)="editButtonClick(grupo)" mat-raised-button color="primary">Editar</button>
            <button class="favorite styled" (click)="deleteGroup(grupo) " mat-raised-button color="primary">Excluir</button>                                    
        </div>           
    </mat-list>
</mat-card>    
        

     
           