<h1>Malwee</h1>
<mat-card>
    <tr></tr>
    <button class="favorite styled" (click)="addButtonClick()" mat-raised-button color="primary">Novo cliente </button>
    <mat-list>
        <div *ngFor="let cliente of clientes">
            {{cliente.id}} = {{cliente.name}}
            <button class="favorite styled" (click)="editButtonClick(cliente)">Editar</button>
            <button class="favorite styled" (click)="deleteCliente(cliente)">Excluir</button>
        </div>
    </mat-list>
</mat-card>
           