h1 {
    border: 30px solid transparent;
    font-size: 40px;
    background-color: rgb(139, 84, 226);
    
}
.modal{
    background: rgb(174, 128, 216);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgb(0, 0, 0);
    min-width: 520px;
    position: fixed;
    left: 50%;
    padding: 25px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.modal2{
    background: rgb(174, 128, 216);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgb(0, 0, 0);
    min-width: 120px;
    position: fixed;
    left: 50%;
    padding: 24px;
    top: 50%;
    transform: translate(-50%, -50%);
}
