mat-card {
    max-width: 40rem;
    margin: 15em auto;
    text-align: center;
  // background-color: rgb(177, 75, 218);
}

mat-form-field {
    width: 80%;
    //background-color: rgb(177, 75, 218);
}
mat-body{
    background-color: rgb(255, 255, 255);
}